@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0064AE;
  --secondary: #FFD300;
  --accent: #DB0F16;
  --highlight: #ff99eb;
  --background: #F5F5F5;
  --card-background: #FFFFFF;
  --text: #1E1E1E;
  --text-light: #4A4A4A;
  --hover: #00508A;
}

body {
  font-family: Arial, sans-serif;
}

.chart-scroll-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text);
}

.skill-label {
  font-size: 14px;
  fill: var(--text);
}

.skill-value {
  font-size: 12px;
  fill: var(--text);
}

#login-button:hover {
  background-color: var(--hover) !important;
}

#logout-button:hover {
  background-color: #b80c12 !important;
}

#xp-graph, #skills-chart {
  background-color: transparent;
}

/* Custom Tailwind ring color */
@layer utilities {
  .focus\:ring-primary:focus {
    --tw-ring-color: var(--primary);
  }
}